#container{
    background-color: rgb(200, 200, 231);
    max-width: 1024px;
    margin: auto;
    padding: 10px;
}

.header{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.logo{
    margin-left: 5%;
    max-width: 200px;
}

.logo img{
    width: 150%;
    max-width: 250%;
    height: auto;
}

.phone{
    margin:5%;
}

.topnav {
    /* flex-wrap: wrap; wrap the text, few more - nonwtrap*/
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
}

.topnav a {
    border: 1px solid black;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: flex;
}

.topnav a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.slideshow {
    background-image: url("../images/background.gif");
    margin: 20px 0px;
    min-height: 100px;
}

.container2{
    border: 1px solid black;
    background-color: rgb(220, 208, 208);
    display: flex;
    padding: 10px;
    margin: 10px 0px;
    justify-content: space-between;
}

.content{
    background-color: rgb(177, 169, 169);
    border: 1px solid black;
    font-size: 2vw;
    width: 68%;
}

.sidebar{
    color: white;
    background-color: rgb(67, 63, 63);
    border: 1px solid black;
    width: 30%;
    text-align: center;
}

.sidebar a{
    margin: 10px 0px;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    display: block;
    padding: 14px 16px;
    background-color: rgb(67, 63, 63);
    text-decoration: none;
}

.sidebar a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

@media screen and (max-width:600px) {

    .topnav {
        display: block;
    }

    .topnav a {
        width: 92%;
    }

    .header{
        display: block;
        text-align: center;
    }

    .logo{
        margin-left: 15%;
    }

    .container2{
        display: block;
    }

    .content{
        width: 100%;
        min-height: 150px;
    }

    .sidebar{
        width: 100%;
        margin-top: 4%;
    }

}

.footer{
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid black;
    min-height:100px;
    text-align: center;
}