#container {
    background-color: #f1f1f1;
    max-width: 1024px;
    margin: auto;
    padding: 20px;
}

.header {
    background-image: url("../images/background.gif");
    text-align: center;
    padding: 20px;
    line-height: 0px;
}

.topnav {
    /* flex-wrap: wrap; wrap the text, few more - nonwtrap*/
    display: flex;
    background-color: rgb(114, 114, 114);
    justify-content: space-between;
}

/*align-item - use for holizontal*/

.floatright {
    display: flex;
}

.topnav a {
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: flex;
}

.topnav a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.responsive {
    width: 100%;
    max-width: 100px;
    height: auto;
}

.row{
    display: flex;
    background-color: rgb(235, 235, 177);
}

.column{
    text-align: center;
    width: 25%;
    border: 1px solid black;
}

#column1{
    width: 100%;
}

@media screen and (max-width:800px){
    .column{
        width: 100%;
    }
}

@media screen and (max-width:480px){

    .row{
        display: block;
    }
}

.title {
    font-weight: bold;
    font-size: 50px;
    color: white;
}

.footer{
    display: flex;
    width: 100%;
    background-color: #767272;
}