.logo {
    grid-area: lg;
    width: 70%;
}

.phone{
    grid-area: ph;
}

.menu{
    grid-area: me;
    width: 150%;
    position: relative;
    right: 50%;
}

.imageslideshow{
    grid-area: is;
}

.textcontent{
    grid-area: tc;
}

.sidebar{
    grid-area: sb;
}

.footer{
    grid-area: fo;
}

.grid-container{
    display: grid;
    grid-template-areas: 
    'lg lg lg lg lg lg ph ph'
    'lg lg lg lg lg lg me me'
    'is is is is is is is is'
    'tc tc tc tc tc sb sb sb'
    'fo fo fo fo fo fo fo fo'
    ;
    gap: 10px;
    background-color: grey;
    padding: 10px;
}

.grid-container > div{
    background-color: rgb(212, 212, 212);
    border: 1px solid black;
    text-align: center;
    padding: 20px 0;
    font-size: 1.5vw;
}