.bg-grey{
    background-color: grey;
}

i{
    font-size: 60px;
}

.img-small{
    width: 150px;
}

.icon-small{
    font-size: 200px;
}

.icon-white{
    color: white;
}

.color-white{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.color-white img{
    width: 10vw;
}

.footer-block{
    display: flex;
}

