.longimage{
    max-width: 680px;
}

.malaysiabackclr{
    background-color: #97BFED;
}

.koreanbackclr{
    background-color: #FFB2B2;
}

.chinesebackclr{
    background-color: #F9FB94;
}

.japanbackclr{
    background-color: #91C788;
}

.centerbackclr{
    background-color: #D6E6F2;
    padding-bottom: 16px;
    padding-top: 16px;
}

.font-type3{ 
    font-size: calc(1.5rem + .5vw)!important;
    font-weight: 700;
}

.font-type5{ 
    font-size: 1.25rem!important;
    font-weight: 400;
}

.roundimage{
    border-radius: 50%;
    width: 150px;
    height: 145px;
}

.smallflag{
    width: 40px;
}

.era{
    background-image: url(../images/home/newera-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #B9D7EA;
    padding: auto;
    
}

#earth{
    width: 500px;
}

@media screen and (max-width:1000px){

    .longimage{
        max-width: 100%;
    }

    .downstage{
        display: flex;
        flex-direction: column;
    }

    .downstage2{
        display: flex;
        flex-direction: column-reverse;
    }
}


@media screen and (max-width: 450px) {

    .font-type5{
        font-size: 1rem!important;
    }

    .font-type6{
        font-size: 0.9rem!important;
    }
}