body{
    font-family: 'Caladea', sans-serif;
}


/*Navi + Footer*/
.text-dark{
    color: black;
}

.fs-4-blue{
    margin: 0;
    padding: 0;
    color: #4EE1D0;
}

.w-30{
    width: 33%;
}

.w-special{
    width: 33%;
}

/*Navbar css*/
.icon-helloworld{
    width: auto;
    height: 70px;
}

.icon-helloworld2{
    width: auto;
    height: 100px;
}

.navbar{
    --bs-navbar-nav-link-padding-x: 5rem;
}

.nav-button{
    border-radius: 30px;
}

.navbar-toggler-special{
    background-color: black;
    border: var(--bs-border-width) solid rgb(255 255 255);
}

.hidden-culture{
    display: none;
}

.offcanvas{
    opacity: 80%;
    --bs-offcanvas-width: 991px;
}

.offcanvas-body::-webkit-scrollbar {
    display: none;
}

.offcanvas-body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-y: scroll;
}

.offcanvas a{
    color: white;
    text-decoration: none;
}

.footer-bg{
    background-image: url(../images/home/background3.jpg);
}

@media screen and (max-width: 992px){

    .off-can-button{
        display: none;
    }

    .hidden-culture{
        display: flex;
    }

    .navbar-collapse-margin{
        margin-top: 4%;
    }

    .offcanvas{
        --bs-offcanvas-width: 100%;
    }

    .w-30{
        width: 50%;
    }

    .w-special{
        width: 100%;
    }
    
}

@media screen and (max-width: 425px){

    .icon-helloworld{
        width: auto;
        height: 65px;
    }

    .w-30{
        width: 100%;
    }
    
}

.transition-nav{
    transition: 1s;
}

/*Navi + Footer*/