body {
    padding: 0;
    margin: 0;
    font-family: 'Epilogue', sans-serif;
}

.container {
    background-color: #1B208D;
    width: auto;
    color: white;
}

.nodeco {
    text-decoration: none;
}

.button {
    padding: 10px 10px;
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5vw;
    font-weight: 900;
    border: 1px solid white;
}

.button:hover {
    color: black;
    background-color: #8678D7;
    border-color: #8678D7;
}

.font-style1 {
    font-size: 3vw;
    font-weight: 300;
    color: rgb(94, 215, 255);
}

.font-style2 {
    font-size: 5vw;
    font-weight: 800;
}

.font-style3 {
    font-size: 3vw;
    font-weight: 400;
}

.font-style4 {
    font-size: 2vw;
    font-weight: 300;
}

.hr1 {
    text-align: center;
    max-width: 90%;
    margin: 2% auto;
}

@media screen and (max-width: 800px) {
    .font-style1 {
        font-size: 6vw;
    }
    
    .font-style2 {
        font-size: 8vw;
        font-weight: 800;
    }
    
    .font-style3 {
        font-size: 6vw;
        font-weight: 400;
    }
    
    .font-style4 {
        font-size: 4vw;
        font-weight: 300;
    }
}

/*Home page-------------------------------------------------------------------------------------------------------------------*/
/*Home container 1*/
.homecontainer1 {
    background-image: url(../images/background.gif);
    background-size: cover;
}

.homecontainer1-box1 {
    padding-top: 2%;
    width: 100%;
    display: flex;
    align-items: center;
}

.homecontainer1-box1-1 {
    margin-left: 3%;
    width: 20%;
}

.homecontainer1-box1-2 {
    width: 20%;
}

.topnav {
    height: 50%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

.topnav a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
}

.topnav a:hover {
    text-decoration: underline;
    color: #8678D7;
}

.topnav a.nodisplay {
    display: none;
}

.topnav .icon {
    display: none;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    transition: 0.5s;
    overflow: hidden;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/*
.sticky {
    display: none;
    position: fixed;
    width: 100%;
    z-index: 1;
}
*/

.homecontainer1-box2 {
    margin-top: 3.5%;
    display: block;
    text-align: center;
    padding: 2.5%;
}

.homecontainer1-box2 img {
    width: 30vw;
    min-width: 20vw;
    background-color: #1179FF;
    border-radius: 50px;
    margin: 1% 0%;
}

.homecontainer1-box2 div {
    font-size: 40px;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    .homecontainer1-box1-1 img {
        margin-top: 10%;
        width: 5vw;
        min-width: 10vw;
    }

    .homecontainer1-box1-2 {
        display: none;
    }

    .icon i{
        border: 1px solid white;
        padding: 10px;
        font-size: 4vw;
    }

    .topnav {
        flex-direction: column;
    }

    .topnav a {
        display: none;
    }

    .homecontainer1-box2 img {
        width: 60vw;
    }

    .topnav a.icon {
        display: flex;
        flex-direction: row-reverse;
    }

    .homecontainer1-box2 div {
        font-size: 7vw;
    }
}


/*Home container 2*/
.homecontainer2 {
    background-color: #1B208D;
    display: block;
}

.homecontainer2-box1 {
    margin-top: 3%;
    display: flex;
    padding-top: 1%;
    padding-left: 5%;
    justify-content: space-between;
}

.homecontainer2-box1-1 {
    display: block;
}

.homecontainer2-box1-2 {
    text-align: center;
    align-items: center;
    display: flex;
}

.homecontainer2-box1-2 .button{
    white-space: nowrap;
    padding: 20px 20px;
    margin-right: 5%;
    color: white;
    font-size: vw;
    font-weight: 900;
    border: 1px solid white;
}

.homecontainer2-box2 {
    margin-left: 1%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-evenly;
}

.gallery-box {
    position: relative;
    margin: 10px;
}

.gallery-box img {
    border: 1px solid #000;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
    max-width: 30vw;
}

.gallery-box-position {
    width: 100%;
    color: white;
    position: absolute;
    bottom: 15%;
    left: 5%;
}

.gallery-box-tag {
    width: 5vw;
    padding: 2% 0;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    color: black;
    min-width: 30%;
    font-size: 2vw;
    font-weight: 700;
    background-color: white;
}

.gallery-box-font {
    font-size: 1.5vw;
    font-weight: 800;
}

@media screen and (max-width: 800px) {

    .homecontainer2-box1 {
        position: relative;
        text-align: left;
        align-items: center;
        display: block;
    }

    .homecontainer2-box2 {
        margin-left: 0%;
    }

    .homecontainer2-box1-2 .button{
        padding: 10px 10px;
        margin: 0;
        color: white;
        font-size: 3vw;
        font-weight: 900;
        border: 1px solid white;
    }
}

@media screen and (max-width: 500px){
    .gallery {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .gallery-box img{
        max-width: 85vw;
    }

    .gallery-box-tag {
        width: 5vw;
        padding: 2% 0;
        display: flex;
        margin-bottom: 10px;
        min-width: 30%;
        font-size: 5vw;
    }
    
    .gallery-box-font {
        font-size: 5vw;
    }
}

/*Home Container 3*/
.homecontainer3 {
    padding: 5% 0%;
    background-color: black;
    display: block;
}

.homecontainer3-box1 {
    display: flex;
}

.homecontainer3-box1-1 {
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
}

.homecontainer3-box1-1 img {
    width: 40vw;
}

.homecontainer3-box1-2 {
    width: 100%;
    margin-top: 0%;
    margin-right: 3%;
}

.button-black {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 45px;
    color: black;
    font-size: 1.2vw;
    font-weight: 900;
    border-radius: 10px;
    background-color: white;
}

.button-black:hover {
    color: white;
    background-color: #8678D7;
}

.homecontainer3-box2 {
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.showbar {
    display: flex;
    width: 100%;
    justify-content: center;
}

.showbar-list {
    width: 30%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
}

.showbar-list img {
    background-color: white;
    width: 5vw;
    margin: 2%;
    padding: 10px;
    border-radius: 100%;
}

.showbar-font {
    padding: 3%;
    white-space: nowrap;
    text-align: left;
    display: block;
    font-size: 3vw;
    font-weight: 700;
}

.showbar-font2 {
    font-size: 2vw;
    font-weight: 400;
}

.showbar-list2 {
    background-color: #8678D7;
    color: black;
}

@media screen and (max-width: 800px) {

    .homecontainer3-box1 {
        margin-left: 5%;
        margin-right: 5%;
        display: block;
    }

    .homecontainer3-box1-1 {
        text-align: center;
        margin-left: 0%;
        width: 100%;
    }

    .homecontainer3-box1-1 img {
        width: 50%;
    }

    .homecontainer3-box1-2 {
        width: 100%;
        height: 50%;
        margin-top: 2%;
        margin-right: 3%;
    }

    .button-black {
        margin-left: 0;
        width: 30%;
        font-size: 2vw;
    }

    .homecontainer3-box2 {
        margin-left: 5%;
        display: block;
    }

    .showbar {
        display: block;
        width: 100%;
    }

    .showbar-list{
        width: 50%;
    }

    .showbar-list img {
        width: 60%;
    }

    .showbar-font {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        font-size: 5vw;
    }

    .showbar-font2 {
        font-size: 4vw;
        font-weight: 400;
    }
}

@media screen and (max-width: 500px) {
    
    .homecontainer3-box1-1 img {
        width: 100%;
    }

    .button-black {
        padding: 2px;
        white-space: nowrap;
        width: 30vw;
        color: black;
        font-size: 3vw;
    }

    .showbar-list img {
        width: 15vw;
        padding: 3px;
    }

    .showbar-list {
        width: 80%;
        border: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .showbar-font {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        font-size: 10vw;
    }

    .showbar-font2 {
        font-size: 6vw;
        font-weight: 400;
    }
}

/*Home Container 4*/
.homecontainer4 {
    padding: 3% 0%;
    background-color: #1B208D;
    width: 100%;
    display: flex;
}

.homecontainer4-box1 {
    margin-top: 3%;
    width: 100%;
}

#center {
    margin-top: 2%;
    text-align: center;
}

fieldset {
    border-radius: 10px;
    padding: 5%;
    background-color: #5CCDCD;
}

.form1 {
    color: #B8EEEE;
    display: block;
    padding: 5%;
    width: 80%;
}

input[type=text] {
    color: black;
    background-color: #B8EEEE;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #375B44;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    margin-left: auto;
    color: white;
    background-color: #5CCDCD;
    border: none;
}

.form1 h2 {
    color: black;
}

textarea {
    color: #6a8e77;
    background-color: #B8EEEE;
    width: 99%;
    margin: 8px 0;
}

.homecontainer4-box2 {
    margin-top: 10%;
    width: 100%;
    display: block;
}

.homecontainer4-box2-1 {
    margin-top: 2%;
    display: flex;
    text-align: center;
    align-items: center;
}

.homecontainer4-box2-1 img {
    padding: 5px;
    background-color: #8678D7;
    border-radius: 100%;
    width: 5%;
}

.homecontainer4-box2-font {
    margin-left: 2%;
}

@media screen and (max-width: 800px) {

    .homecontainer4 {
        display: block;
    }

    .homecontainer4-box2 {
        width: 90%;
        margin: 0% 5%;
    }

    .homecontainer4-box2 .font-style2 {
        line-height: 200%;
    }

}

/*Home Container 5*/
.homecontainer5 {
    padding-top: 3%;
    background-color: black;
    width: 100%;
    display: block;
}

.homecontainer5-box1 {
    padding: 0% 3%;
    display: flex;
    margin-top: 5%;
}

.homecontainer5-box1-1 {
    display: block;
    width: 100%;
}

.homecontainer5-box1-2 {
    margin-top: 5%;
    text-align: center;
    width: 100%;
}

.homecontainer5-box1-2 img {
    width: 40%;
}

#homecontainer5-button {
    margin: 5% 0%;
}

.homecontainer5-box2 {
    display: flex;
    width: 100%;
}

.gallery2 {
    width: 100%;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
}

.gallery2-box {
    width: 16.6%;
}

.gallery2-box img {
    width: 100%;
}

@media screen and (max-width: 800px) {

    .homecontainer5-box1 {
        flex-direction: column-reverse;
    }

    .homecontainer5-box1-1 .button {
        margin-left: 0;
        width: 40%;
        font-size: 2.5vw;
    }

    .gallery2-box {
        width: 50%;
        min-width: 225px;
    }
}

@media screen and (max-width: 500px) {
    .gallery2-box {
        width: 100%;
        min-width: none;
    }
}

/*Home container 6*/
.homecontainer6 {
    background-color: #28293E;
    display: block;
    width: 100%;
    padding-top: 5%;
}

.homecontainer6-box1 {
    margin-left: 3%;
    display: flex;
    width: 90%;
    justify-content: space-evenly;
}

.homecontainer6-box1-1 {
    display: block;
    width: 100%;
}

.homecontainer6-box1-1 a {
    text-decoration: none;
    color: white;
}

.homecontainer6-box1-1 a:hover {
    color: #8678D7;
}

.displayflex {
    display: flex;
}

.homecontainer6-box1-1 img {
    margin: 0% 2%;
    margin-top: 15%;
    padding: 5px;
    background-color: #8678D7;
    border-radius: 100%;
    width: 40px;
}

.homecontainer6-box2 {
    display: flex;
    justify-content: center;
    margin: 0% 10%;
    padding-bottom: 2%;
}

@media screen and (max-width: 800px) {

    .homecontainer6-box1 {
        display: block;
    }

    .homecontainer6-box1-1 {
        text-align: center;
        width: 90%;
        margin: 0% 3%;
        border-bottom: 1px solid white;
    }

    .noline {
        border-bottom: none;
    }

    .homecontainer6-box1-1 img {
        margin-top: 5%;
    }
}

@media screen and (max-width: 500px){

    .homecontainer6-box2-1{
        font-size: 3vw;
    }

}

/*About Me Container------------------------------------------------------------------------------------------------------*/
.aboutcontainer {
    padding: 3% 0% 0% 0%;
    background-color: #1B208D;
    width: 100%;
    display: block;
    text-align: center;
}

.aboutcontainer .font-style4 {
    line-height: 250%;
    font-weight: 600;
}

.aboutbox1 img {
    width: 70%;
}

.aboutbox2 {
    text-align: left;
    margin: 3% 20%;
}

.aboutbox3 {
    margin: 5% 6.5%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.aboutbox4 {
    text-align: left;
    display: block;
    margin: 3% 20%;
}

.aboutbox5 {
    background-image: url(../images/background02.png);
    background-repeat: no-repeat;
    background-position: top right;
    text-align: left;
    margin: 3% 20%;
}

@media screen and (max-width: 800px) {

    .aboutcontainer .font-style4 {
        font-size: 15px;
        line-height: 250%;
        font-weight: 600;
    }

    .aboutcontainer .font-style2 {
        font-size: 30px;
    }

    .aboutbox5 {
        background-size: 15%;
    }

    .aboutbox3 .showbar-list{
        width: 90%;
    }

    .aboutbox3 img{
        width: 10vw;
    }
}

@media screen and (max-width: 500px){
    .aboutbox4 iframe{
        height: auto;
    }
}

/* Portfolio Page----------------------------------------------------------------------------------------------------------*/

.portfoliocontainer1{
    background-color: #1B208D;
    display: block;
    text-align: center;
}

.portfoliocontainer1-box1{
    padding: 3% 0;
}

.portfoliocontainer1-box2{
    width: 100%;
}

.gallery3 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-evenly;
}

.gallery3-box {
    position: relative;
    margin: 10px;
}

.gallery3-box img {
    border: 1px solid #000;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
    max-width: 30vw;
}

.gallery3-box-position {
    width: 100%;
    color: white;
    position: absolute;
    bottom: 15%;
    left: 5%;
}

.gallery3-box-tag {
    width: 5vw;
    padding: 2% 0;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    color: black;
    min-width: 30%;
    font-size: 2vw;
    font-weight: 700;
    background-color: white;
}

.gallery3-box-font {
    font-size: 1.5vw;
    font-weight: 800;
}

.portfoliocontainer1-box3{

}

@media screen and (max-width: 500px){
    .gallery3 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .gallery3-box img{
        max-width: 85vw;
    }

    .gallery3-box-tag {
        width: 5vw;
        padding: 2% 0;
        display: flex;
        margin-bottom: 10px;
        min-width: 30%;
        font-size: 5vw;
    }
    
    .gallery3-box-font {
        font-size: 5vw;
    }
}

.overlay2 {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    transition: 0.5s;
    overflow: hidden;
}

.overlay2-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.overlay2 a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay2 a:hover,
.overlay2 a:focus {
    color: #f1f1f1;
}

.overlay2 .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
